name: Build & Release
on:
  push:
    branches: [ main ]
jobs:
  CD:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v3
      with:
        # we need all tags to have release plugin working
        fetch-depth: 0
        # allow triggering next action workflow
        ssh-key: "${{ secrets.DEPLOY_KEY_SECRET }}"
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '11'
        cache: 'gradle'
    - name: Build
      uses: gradle/gradle-build-action@v2
      with:
        arguments: build
    - name: Current Version
      uses: gradle/gradle-build-action@v2
      with:
        arguments: currentVersion
    - name: Release
      uses: gradle/gradle-build-action@v2
      with:
        arguments: release
